/* INDEX */

#index_body {
    background-color: #5C0220;
    
}

#index_section {
    background-image: url("./img/psychology-4440675_1920.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;   
}

#index_section h2 {
    z-index: 2;
    background-color: transparent;
    color: #d4e061;
    font-size: 48px;
}

#entrer {
    background-color: #d4e061;
    width: 191px;
    height: 73px;
    padding: 5px 10px;
}


/* PAGES COMMUNES */

body {
    background-color: #f4f6e9;
    color: #5c0220;
    margin: 0;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.sidenavbar {
    flex-shrink: 0;
    background-color: #5C0220;
    height: auto;
    left: 0;
}

.sidenavbar a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d4e061;
    width: 120px;
    height: 50px;
    margin: 30px;
    padding: 10px;
    text-decoration: none;
}

.header {
    top: 0;
    height: 135px;
    width: auto;
    background-color: #5C0220;
    display: flex;
    flex-direction: column; 
}

.header_general, .header_specifique {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d4e061;
    width: 120px;
    height: 50px;
    margin: 5px;
    padding: 2px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container_cps {
    display: flex;
    flex-direction: column;
    flex-grow: 1; 
}

.container_cps h1 , h2, p , aside { 
    margin-left: 40px;
}

.mindmap {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-top: 40px;
}

.mindmap img {
    max-width: 100%;
    height: auto;
}


/* SOMMAIRE GENERAL */

.generalHeader {
    top: 0;
    height: 120px;
    background-color: #5C0220;
}

.hidden {
    display: none;
}