body {
    background-color: #f4f6e9;
    color: #5c0220;
    font: Magistral;
}

section,p {
    background-color: #f4f6e9;
}

#acceuil {
    background-image: url("./img/psychology-4440675_1920.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

h2 {
    z-index: 2;
    background-color: transparent;
}

#entrer {
    background-color: #d4e061;
}